<!DOCTYPE html>
<head>
  <title>Layout 1</title>
  <link href="layouts1.css" rel="stylesheet">
</head>
<body>
  <div id="header">
    <img src="birthday llama.jpg">
  </div>

  <div id="nav">
    <ul>
      <li><a href="https://google.com">Google</a></li>
      <li><a href="https://google.com">Google</a></li>
    </ul>
  </div>

  <div id="content">
      <div class="article">
        <p>Sustainable direct trade organic, raw denim vinyl chambray blog church-key gastropub salvia mlkshk 8-bit.
           Migas tattooed schlitz cold-pressed ramps bitters, artisan tacos pabst. Listicle brunch meditation
           iPhone food truck hashtag. Mixtape wayfarers leggings thundercats direct trade pinterest stumptown,
           everyday carry austin offal post-ironic YOLO. Biodiesel synth actually,
           humblebrag lo-fi flannel banh mi fixie fanny pack letterpress slow-carb. Photo booth PBR&B
           trust fund dreamcatcher, gochujang locavore drinking vinegar chicharrones green juice 90's twee vegan.
           Truffaut artisan helvetica pour-over street art craft beer, food truck whatever trust fund kale chips.</p>
        <p>Hashtag yr chambray craft beer austin pabst 90's, etsy disrupt listicle tote bag affogato four loko 8-bit.
           VHS four dollar toast gluten-free, pug fixie shoreditch 90's. Pop-up selfies narwhal,
           chartreuse ramps chillwave cardigan echo park typewriter man braid wayfarers bitters hashtag.
           Listicle selfies synth church-key organic austin, banh mi chicharrones lomo butcher photo booth taxidermy XOXO.
          Offal fixie bespoke, cold-pressed shabby chic tilde roof party cray pitchfork kinfolk raw denim salvia.
          DIY tofu mixtape, forage PBR&B small batch kogi hoodie lomo waistcoat shabby chic pork belly hashtag bicycle rights.
          Literally vegan fixie 8-bit knausgaard.</p>
      </div>
      <div class="article">
        <p>Hashtag yr chambray craft beer austin pabst 90's, etsy disrupt listicle tote bag affogato four loko 8-bit.
          VHS four dollar toast gluten-free, pug fixie shoreditch 90's. Pop-up selfies narwhal, chartreuse ramps chillwave
          cardigan echo park typewriter man braid wayfarers bitters hashtag. Listicle selfies synth church-key organic austin,
          banh mi chicharrones lomo butcher photo booth taxidermy XOXO. Offal fixie bespoke, cold-pressed shabby chic tilde roof
          party cray pitchfork kinfolk raw denim salvia. DIY tofu mixtape, forage PBR&B small batch kogi hoodie lomo waistcoat
          shabby chic pork belly hashtag bicycle rights. Literally vegan fixie 8-bit knausgaard.</p>
      </div>
  </div>
  <div id="footer">
    <p>words words words words</p>
  </div>

  <div class="container">
    <div class="box">
      meow meow meow
    </div>
    <div class="box">
      meow meow meow
    </div>
    <div class="box">
      woof woof woof
    </div>
  </div>

</body>
